body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar-custom {
    background-color: #3b3dd1;
}

.navbar-brand .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.brand-text h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.brand-text p {
    margin: 0;
    font-size: 14px;
    color: white;
}

.navbar-nav .nav-link {
    font-size: 17px;
    padding: 5px 10px;
    color: white;
}

.navbar-nav .nav-link:hover {
    background-color: #4e51df;
    border-radius: 5px;
}

.dropdown-menu {
    background-color: #4e51df;
    padding: 0;
}

.dropdown-menu .dropdown-item {
    color: #333;
    padding: 10px 20px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #686ae2;
}

section {
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    #slider .carousel-inner {
        min-height: 350px;
        max-height: 350px;
    }

    #slider .carousel-inner img {
        max-height: 250px;
        width: 100%;
        height: auto;
        object-fit: contain;
        margin: auto;
    }

    .product-info {
        font-size: 14px;
        padding: 15px;
        margin-top: 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
        text-align: center;
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    header .header-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    header .header-left img {
        width: 40px;
        height: 40px;
    }

    header .header-left h1 {
        font-size: 18px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    #slider .carousel-inner {
        min-height: 320px;
        max-height: 320px;
    }

    #slider .carousel-inner img {
        max-height: 200px;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .product-info {
        font-size: 12px;
        padding: 26px;
        margin-top: 8px;
    }

    .carousel-caption h5 {
        font-size: 16px;
        }

    #productos, #ofertas {
        margin: 10px;
        padding: 10px;
    }
}

footer {
    background-color: #000272;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    border-top: 2px solid #f0f0f0;
}

footer a {
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    margin: 10px 5px;
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.2);
}